html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family:'Roboto','Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
}
.header,.footer,.hero{
    background-color: #1f2937;
    display: flex;
}
.header{
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    color: white;
}
.header ul{
    display: flex;
    gap:16px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.header a{
    text-decoration: none;
    color: #9499a1;
}

.header .logo{
    font-size: 24px;
}
.hero {
    justify-content: center;
    padding: 60px;
}
.text {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}
.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}
.hero button,.sign button{
    background-color: #3b82f6;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 25px;
}
.hero button{
    border:0px;
}
.information {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.information h1{
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    
}
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card img{
    height: 150px;
    width:150px;
    border-radius: 10px;
    /* display: flex; */
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    padding-bottom: 100px;
}
.card p {
    text-align: center; 
    color: #838a94;
    margin: 0px;
}
.quote {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #e5e7eb;
    color: #1f2937 ;
}
.quote p{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 0px;
}
.quote h4{
    margin-top: 0px;
    text-align: end;  
}
.quote h4, .quote p{
    width: 800px;
    font-weight: 200;  
    font-style: italic;
}
.sign {
    background-color: #3b82f6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin: 50px 120px;
}
.sign h3{
    color:white;
    margin-bottom: 0;
}
.sign p{
    margin-top: 0;
    color:#cad7ec;
}


.sign button{
    align-self: center;
    border-color: white;
    border-width: 2px;
}
.footer {
    padding: 25px;
    color: white;
    justify-content: center;
}
